* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.flex_header {
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-items: center;
}

.header {
    background-color: #ff6933;
    min-width: 1140px;
    height: 75px;
}

.left_block {
    height: 75px;
    display: flex;
    align-items: center;
}

.right_block {
    height: 75px;
    display: flex;
    align-items: center;
}
